= form_for child do |f|
  - if child.errors.any?
    %ul
    - child.errors.full_messages.each do |error_message|
      %li.error= error_message
  .field
    = f.text_field :name, placeholder: 'Name'
  .actions
    = f.submit "Save", 'data-icon' => 'check'
