%h1 Your Children

%p= link_to "Add a child", new_child_path
%ul.children
  - children.each do |child|
    %li.child
      = link_to child.name, child_sleep_blocks_path(child)
      = link_to "edit", edit_child_path(child)
