- content_for :title do
  Your Children
- content_for :toolbar do
  = link_to "Add", new_child_path, rel: 'external', class: 'button'

%ul.children
  - children.each do |child|
    %li.child
      = child.name
      = link_to "edit", edit_child_path(child), rel: 'external'
