.chart_data
  display: none
.chart
  width: 723px
  position: relative
  height: 220px
  background-color: #F4FAFF
  padding-top: 10px
  p
    width: 100%
    position: absolute
    text-align: center
    color: #fff
    font-size: 10px
    line-height: 12px
    font-weight: bold
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4)
    margin: 0
    b
      display: block
      font-size: 13px
  .line_x
    position: absolute
    left: 32px
    width: 662px
    height: 1px
    top: 14px
    cursor: pointer
  .tag_x
    position: absolute
    width: 40px
    height: 31px
    right: -11px
    p
      top: 3px
      left: 2px
  .line_y
    height: 160px
    width: 1px
    top: 31px
    cursor: pointer
  .line_y,
  .tag_y_top
    display: none
    position: absolute
  .tag_y_top
    width: 49px
    height: 25px
    top: 10px
    p
      top: 4px
