@import url("/stylesheets/whitespace-reset.css")

$low: #7eb33e
$guarded: #acd250
$elevated: #eae842
$high: #eab542
$severe: #ea4e42

= helvetica_neue($font_weight, $font_size)
  font: $font_weight $font_size "Helvetica Neue", Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
= border-radius($radius)
  -moz-border-radius: $radius
  border-radius: $radius
= border-top-right-radius($radius)
  -moz-border-radius-topright: $radius
  border-top-right-radius: $radius
= border-top-left-radius($radius)
  -moz-border-radius-topleft: $radius
  border-top-left-radius: $radius
= border-bottom-right-radius($radius)
  -moz-border-radius-bottomright: $radius
  border-bottom-right-radius: $radius
= border-bottom-left-radius($radius)
  -moz-border-radius-bottomleft: $radius
  border-bottom-left-radius: $radius
= box-shadow($arguments)
  -webkit-box-shadow: $arguments
  -moz-box-shadow: $arguments
  box-shadow: $arguments
= border-image($url, $widths, $scale)
  -webkit-border-image: url($url) $widths $scale
  -moz-border-image: url($url) $widths $scale
  border-image: url($url) $widths $scale
= opacity($val)
  opacity: $val
  filter: alpha(opacity=$val*100)
= gradient-bg($color1, $color2)
  background-color: $color1
  background-image: -moz-linear-gradient(100% 100% 90deg, $color2, $color1)
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2))

= button
  position: relative
  padding: 10px 7px
  +helvetica_neue(bold, 12px)
  text-transform: uppercase
  color: #ffffff
  cursor: pointer
  border: 1px solid #022f7a
  font-weight: bold
  +border-radius(4px)
  background: #022663 url("/images/bg_button.png") 0 0 repeat-x
  &:active
    top: 1px
    border: 1px solid #022560
= gray_button
  +button
  color: #333333
  +gradient-bg(#f0f0f0, #d6d6d6)
  border-color: #c8c8c8
  border-bottom-color: #8a8a8a
  &:active
    border-color: #adadad

= small_button
  position: relative
  float: left
  height: 15px
  padding: 2px 8px
  +helvetica_neue(bold, 12px)
  font-size: 12px
  text-transform: uppercase
  color: #fff
  +border-radius(3px)
  +box-shadow(0 1px 2px #888888)
  &:active
    top: 1px
    border-bottom: 0px
= small_gray_button
  +small_button
  color: #333333
  border: 1px solid #c8c8c8
  border-bottom-color: #8a8a8a
  background: #d7d7d7 url("/images/bg_button_small-gray.png") 0 0 repeat-x
= small_orange_button
  +small_button
  border: 1px solid #e29300
  border-bottom-color: #713000
  background: #d45d00 url("/images/bg_button_small-orange.png") 0 0 repeat-x
= small_dark_gray_button
  +small_button
  border: 1px solid #6f6f6f
  border-bottom-color: #151515
  background: #2d2d2d url("/images/bg_button_small-dark-gray.png") 0 0 repeat-x
= small_green_button
  +small_button
  border: 1px solid #15bd10
  border-bottom-color: #065505
  background: #0ca109 url("/images/bg_button_small-green.png") 0 0 repeat-x
= row_hovers
  border-collapse: separate
  border-spacing: 0
  tbody
    tr:hover
      td
        padding: 4px 10px
        border: 1px solid #cddaec
        border-width: 1px 0
        background: #f5f9ff
        cursor: pointer
        &:first-of-type
          padding-left: 9px
          border-left-width: 1px
        &:last-of-type
          padding-right: 9px
          border-right-width: 1px
= input
  width: 328px
  height: 27px
  padding: 2px 5px
  margin: 0 0 10px 0
  +helvetica_neue(normal, 14px)
  border: 1px solid #c8c8c8
  +border-radius(2px)
