@import "mixins.sass", "common.sass"

body
  margin: 0
  padding: 0
  background-color: #FFF
  background-image: url("/images/background_1pixel.gif")
  background-position: 46px left
  background-repeat: repeat-x
  color: #404040

.cloaked
  display: none

p
  margin: 8px 0

h1
  margin: 8px 0
  font-size: 18px
h2
  margin: 6px 0
a
  color: #3078ba

header
  @include pie-clearfix
  border-bottom: 1px solid #FFF
  background-color: #000
  color: #FFF
  font-size: 14px
  a
    color: #6fb9fc
  img
    padding-top: 3px
  section
    @include guttered
    nav#primary
      float: left
    nav#secondary
      padding-top: 14px
      float: right
    nav#secondary

#main
  @include guttered
  margin-top: 10px
  min-height: 550px

.children_header
  @include pie-clearfix
  margin-top: 20px
  .title
    float: left
  .action
    float: right

ul.children
  li.child
    padding: 10px
    &.odd
      background-color: #f7f7f7
    &.even
      background-color: #ededed
    .child_name
      font-weight: bold

#footer
  margin-top: 40px
  min-height: 50px
  background-color: #6fb9fc
  color: #f2f2f2
  .content
    @include guttered
    padding-top: 18px
    .attribution
      float: left
    .notices
      float: right
