- content_for :toolbar do
  = link_to "Back", child_sleep_blocks_path(child), class: 'back button', rel: 'external'
  %h1 Edit Entry

= render partial: 'form'
= button_to "delete", child_sleep_block_path(child, sleep_block), method: "delete", class: 'whiteButton'
