%h1 Sleep blocks for #{params[:date]}

%ul
  - sleep_blocks.each_with_index do |block, index|
    %li
      = link_to block.to_s, edit_child_sleep_block_path(child, block)
or
= link_to "cancel", child_sleep_blocks_path(child)
