- content_for :title do
  Sleep Journal

- content_for :toolbar do
  = link_to 'New', new_child_sleep_block_path(child), rel: 'external', class: 'button'

- if recent_sleep_blocks.any?
  %ul.sleep_table
    - recent_sleep_blocks.each do |block|
      %li= link_to block.to_s, edit_child_sleep_block_path(child, block), rel: 'external'
