- content_for :toolbar do
  %h1= child.name
  = link_to "Add entry", new_child_sleep_block_path(child), 'data-icon' => 'plus', class: 'ui-btn-right'

- if recent_sleep_blocks.any?
  %ul(data-role='listview')
    - recent_sleep_blocks.each do |block|
      %li= link_to block.to_s, edit_child_sleep_block_path(child, block), 'data-icon' => 'gear'
