%h1
  Sleep journal for
  = child.name

%p= link_to "new sleep block", new_child_sleep_block_path(child)

- if sleep_blocks.any?
  %ul.sleep_blocks
    - sleep_blocks.each do |sleep_block|
      %li Start: #{sleep_block.start.strftime("%l:%M%p")}
