- content_for :toolbar do
  %h1 New Entry
  = link_to "Cancel", child_sleep_blocks_path(child), 'data-icon' => 'delete', class: 'ui-btn-right'

- cache_as(new_child_sleep_block_path(child), true)

= render partial: 'form'
